
[Unit]
Description=DTM first boot services

[Service]
Type=oneshot
ExecStart=/opt/RCE_SDK/tgt/linux/rce-firstboot.sh 0 1

[Install]
WantedBy=multi-user.target
