[Unit]
Description=Stop Fulcrum switch management
Requires=fmd.service
After=fmd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/mnt/host/daq/rceData/fmd_stop.sh

[Install]
WantedBy=multi-user.target

