[Unit]
Description=Stop Fulcrum switch management
Requires=fmd.service
After=mnt-host.mount fmd.service


[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/mnt/host/heavy-photon-daq/software/rceScripts/fmd_stop.sh

[Install]
WantedBy=multi-user.target

