[Unit]
Description=RCE Startup Script
Requires=mnt-host.mount
After=mnt-host.mount

[Service]
Type=oneshoot
RemainAfterExit=yes
ExecStart=/mnt/host/heavy-photon-daq/software/rceScripts/rce_start.sh

[Install]
WantedBy=multi-user.target

