[Unit]
Description=RCE Server Startup Script
Requires=rce_start.service
After=rce_start.service

[Service]
Type=forking
ExecStart=/mnt/host/heavy-photon-daq/software/rceScripts/start_server.csh
ExecStop=/usr/bin/killall rceServer

[Install]
WantedBy=multi-user.target

